body{
  position: relative;
}
header{
background-color: navy;
}
.picture{
  /* position: absolute;  */
  left: 30px; 
  top: 30px; 
}

.text{
  /* position: absolute;  */
  right: 30px; 
  top: 30px;
}



img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  float: left;
}

p {
  /* display: inline; */
}

div p {
  color: blue;
  justify-content: end;
}
div h2{
  text-align: center; 
}

/* p.main {
  max-width: 45;
  text-align: center;
  font-size: 26px;
} */

.snack-type{
  /* display: inline; */
  
  background-color: darkgray;
  width: 100%;
  height: 25%;
  overflow: auto;
}
.snack-type::after{
content: "";
  clear: both;
  display: table;
}
/* .hotdog{
  display: inline;
}

.hamburger{
  display: inline;
}

.salad{
  display: inline;
} */